<div class="app-footer">
  <nav class="app-nav">
    <!-- 메뉴 바 및 새 일기 버튼 -->
    <button class="new-diary-button">+</button>
    <!-- 메뉴 바 -->
    <div class="menu-bar">

      <div class="menu-item">
        <div class="menu-icon">💬</div>
        <div>채팅</div>
      </div>
      <div class="menu-item" onclick="location.href='/calendar'">
        <div class="menu-icon">📊</div>
        <div>달력</div>
      </div>
      <div class="menu-item active">
        <div class="menu-icon">📖</div>
        <div>일기</div>
      </div>
      <div class="menu-item" onclick="location.href='/chart'">
        <div class="menu-icon">📊</div>
        <div>통계</div>
      </div>
      <div class="menu-item active">
        <div class="menu-icon">⚙️</div>
        <div>설정</div>
      </div>
    </div>
  </nav>
</div>
